.bordesuperior{
    background-color: black;
}

.banner{
    background-color: #F0A83E;
}

.boton1{
    background-color: black;
    color: white;
    border: none;
    font-family: 'Roboto';
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 11.72px;
}
.listadonav{
    height: 20px;
}
.menu{
    background-color: #F0A83E;
    font-family: 'Roboto';
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 15.23px;
    text-decoration: none;
}
a{
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 15.23px;
    text-decoration: none;
    color: white;
}
.imagenprincipal{
    background-image: url(../IMG/imagen\ 1.png);
    height: 800px;
    width: 100%;
    background-size: 100% 100%;
}
.titulobanner{
    font-family: 'Roboto';
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    line-height: 35.16px;
    text-align: center;
}
.titulomain{
    font-family: 'Roboto';
    font-size: 40px;
    font-weight: 700;
    font-style: normal;
    line-height: 46.1688px;
    color: #3C2313;
}
.textobanner{
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 18.75px;
    text-align: center;
    padding-top: 40px;
}
.boton2{
    background-color: #F0A83E;
    color: white;
    border: none;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 18.75px;
    text-align: center;
}
.listamain{
    display: inline;
}
.cards{
    background-color: #FBFAF6;
}
.articulo{
    font-family: 'Roboto';
    color: #3C2313;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 17.58px;
}
.precio{
    font-family: 'Roboto';
    color: #F0A83E;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 17.58px;
}
.datospetshop{
    background-color: #3C2313;
}

i{
    color: white;
    font-size: 100px;
}
.titulocontacto{
    font-family: 'Roboto';
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 23.44px;
}
.detallecontacto{
    font-family: 'Roboto';
    color: white;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 11.72px;
}
footer{
    background-color: #F0A83E;
    color: white;
    text-align: center;
    font-family: 'Roboto';
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 11.72px;
    margin-top: 10px;
}
.suscribete{
    background-color: #F0A83E;
}