*{
    font-family: 'Roboto', sans-serif;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
/*cabecera de la pagina ofertas*/
.contenedorofertas{
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 0.3rem 7.5rem 0.5rem 4.5rem;
}
.contenedorofertas a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}
.contenedorofertas select{
    color: white;
    background-color: black;
    border-color: black;
    font-size: 1.2rem;
}
/* nav de la cabecera */
.contenedormenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F0A83E;
    padding: 1rem 0rem 1rem 3.5rem;
}
.hamburguesa{
    display: none;
    padding-right: 4rem;
    font-size: 1.5rem;
}
.contenedoropcionesnav{
    display: flex;
    justify-content: space-evenly;
    padding-right: 0rem;
    width: 45rem;
}
.contenedoropcionesnav a{
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
}
.logo1{
    width: 22rem;
}
.huellita{
    width: 2rem;
}
/*caja comedero */
.contenedorcomedero{
    background-image: url(../img/imagen1.png);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 50rem;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20rem;
    padding-right: 5rem;
    flex-wrap: wrap;
}
.contenedortexto{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.titulocomedero1{
    margin: 0rem;
    background-color: white;
    border-radius: 0.4rem;
    padding: 1rem;
    font-size: 2.5rem;
    font-weight: bold;
}
.titulocomedero2{
    margin: 0px;
    padding: 2rem;
    font-weight: normal;
    text-align: center;
    font-size: 2rem;
}
.boton2{
    background-color: #F0A83E;
    border: none;
    border-radius: 0.4rem;
    padding: 1rem 1.5rem;
}
.boton2 a{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}
/* destacados */
.contenedordestacados{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2.2rem;
}
.opcionesdestacados{
    display: flex;
    justify-content: space-around;
    width: 28rem;
    font-size: 1.7rem;
    margin-bottom: 3rem;
}
.huella{
    height: 8rem;
}
h1{
    font-size: 4rem;
    color: #3C2313;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}
/* zona de productos */
.contenedorproductos{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
}
.card{
    margin: 1rem;
}
.contenedorproductos h3{
    font-size: 1.5rem;
    font-weight: bold;
    color: #3C2313;
}
.contenedorproductos p{
    color: #F0A83E;
    padding: 0.6rem;
}
/* seccion contacto */
.contenedorcontacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 5rem 10rem;
}
.contenedorcontacto h2{
    font-size: 3rem;
    color: #3C2313;
    padding-bottom: 3rem;
}
.estiloform{
    background-color:#3C2313;
    color: white;
    width: 40rem;
    border: none;
    border-radius: 1.5rem;
    padding: 1rem;
}
.contenedorbotoncontacto{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.botoncontacto{
    background-color:#8A8787;
    border: none;
    border-radius: 1.5rem;
    padding: 1rem 1.5rem;
    width: 10rem;
    color: white;
    margin-left: 2rem;
    margin-right: 2rem;
}
.botoncontacto2{
    background-color:#F0A83E;
    border: none;
    border-radius: 1.5rem;
    padding: 1rem 1.5rem;
    width: 10rem;
    color: white;
    margin-left: 2rem;
    margin-right: 2rem;
}
/* contenedor suscripcion */
.contenedorsuscripcion{
    background-color:#F0A83E;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    flex-wrap: wrap;
}
.cajaimagentexto{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    width: 30rem;
}
.sobre{
    width: 5rem;
}
.cajasuscribe{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40rem;
}
.estiloform2{
    color: black;
    width: 40rem;
    border: none;
    border-radius: 1.5rem;
    padding: 0.8rem;
}
.botonsuscribe{
    background-color:#3C2313;
    border: none;
    border-radius: 1.5rem;
    padding: 1rem 1.5rem;
    width: 10rem;
    color: white;
}
/*ultima seccion*/
.contenedordatos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3C2313;
}
.carddatos{
    display: flex;
    align-items: center;
    padding: 1.5rem 1rem 1rem 1rem;
}
.icono{
    width: 7rem;
}
.logo{
    width: 25rem;
}
.carddatos h3{
    color: white;
    font-weight: bold;
    font-size: 2rem;
    padding-left: 1rem;
}
.carddatos p{
    color: #8A8787;
    padding-left: 1rem;
}
/*final*/
footer{
    background-color: #222222;
    color: white;
    text-align: center;
    font-size: 1.5rem;
}

/* media queries */
@media only screen and (max-width: 768px) {
    .contenedorofertas{
        display: none;
    }
    .contenedoropcionesnav{
        display: none;
    }
    .contenedordatos{
        display: flex;
        flex-direction: column-reverse;
        padding-top: 1rem;
    }
    .logo{
        width: 18rem;
    }
    .hamburguesa{
        display: inline-block;
    }
}
